body {
    background-color: black;
    color: white;
    margin: 0px;
}
header{
    border-bottom: solid 4px rgba(226, 74, 4, 0.87);
    padding: 25px;
    font-size: 35px;
    color: rgb(4, 122, 228);

}