body {
    background-color: rgb(242, 6, 6);
    color: white;
    margin: 0px;
}
header{
    border-bottom: solid 4px rgba(226, 74, 4, 0.87);
    padding: 25px;
    font-size: 35px;
    color: rgb(247, 7, 47);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
    background-color: rgb(117, 143 ,237), green, blue);
}

section {
backgroundb-color: rgb(184, 156, 213);
padding-bottom: 80px;
padding-top: 80px;
display:flex;
justify-content: center;
}

.chamada-texto{ 
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}